*, *:after, *:before {
    box-sizing: border-box;
}

body {
    padding: 5rem;
    background: #eee;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
}

.container * {
    border-radius: 0.5rem;
    width: 15%;
    flex: 0 1 auto;
    margin: 0 1rem;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.5);
}

.box {
    background: #000;
    flex: 5 0 auto;
    display: flex;
    justify-content: center;
}

.box img {
    flex: 1 0 auto;
}