@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

html {
    box-sizing: border-box;
    font: 16px/1.5 Helvetica, sans-serif;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    padding: 3rem;
    background-color: #7A64CD;
}

body:after {
    content: "";
    background: url("../images/bg-01.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.1;
    position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.container {
    display: flex;
    max-width: 60rem;
    justify-content: center;
    background: #fff;
    border-radius: 0.5em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container .left {
    flex: 1 0 50%;
    background: url("../images/img-01.png") no-repeat center;
}

form {
    flex: 1 0 50%;
    padding: 4em;
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 1em;
}

.input-wrapper,
form textarea {
    background: #E6E6E6;
    border-radius: 1.5em;
    padding: 1em 2em;
    border: none;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    position: relative;
}

.input-wrapper input {
    outline: none;
    border: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 4em;
    padding-right: 2em;
    background: transparent;
}

.input-wrapper input:focus+i {
    color: #846ADD;
}

.input-wrapper input:focus::placeholder {
    opacity: 0;
}

.input-wrapper i {
    order: -1;
    z-index: 1;
    margin-right: 0.4em;
}

form textarea {
    margin-bottom: 2em;;
    outline: none;
	resize: vertical;
}

form button {
    color: #fff;
    background: #846ADD;
    padding: 1em;
    border-radius: 2em;
    border: none;
    outline: none;
    font-weight: bold;
    margin-bottom: 3em;
}

form button:hover {
    background: #333;
	cursor: pointer;
}