@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

html {
    font-size: 16px;
}

header {
    padding: 0 3em;
    display: flex;
    justify-content: space-between;
}

header img {
    background: linear-gradient(135deg, #CEA740, #97690B);
    width: auto;
    height: 100%;
    position: relative;
    top: 2rem;
    padding: 1rem;
}

header > .navigations {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 1rem;
}

header ul {
    display: flex;
    list-style: none;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #4E5774;
    padding: 1em 0.5em;
}

header nav:first-of-type li:first-of-type a {
    padding: 1em 2.5em;
}

header nav:last-of-type a{
    padding: 0.5em 1em;
}

header a:hover {
    background: #CAA637;
    color: #fff;
}

header a i {
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    padding-bottom: 0.3em;
}