* {
    box-sizing: border-box;
}

body {
    padding: 5rem;
    background: #eee;
    display: flex;
    flex-flow: row wrap;
}

body * {
    margin: 0.5rem;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

header, footer {
    height: 8rem;
    width: 100%;
}

main, aside {
    height: 15rem;
}

main {
    width: 75%;
}

aside {
    flex: 1 0 auto;
}