@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Cormorant&subset=cyrillic,cyrillic-ext,latin-ext');

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    /* font: 16px/1.5 Lato, sans-serif; */
}

body {
    padding: 5rem;
    background: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cormorant, serif;
    font-size: 1em;
    line-height: 1.2;
    font-weight: bold;
}

h6 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.8rem;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 2.2rem;
}

p {
    padding: 0;
    margin: 2rem 0;
}

ul {
    list-style: square;
}

ul > ul {
    list-style: disc;
}

ul > ul > ul {
    list-style: circle;
}