@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

body {
    padding: 5rem;
    background: #eee;
}

.icons {
    list-style: none;
    text-indent: 0;
}

.icons li i {
    margin-right: 0.5rem;
}