@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

html {
    font: 16px/1.5 "Source Sans Pri", sans-serif;
    box-sizing: border-box;
}

*, *:after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body, input {
    font: inherit;
}

body {
    background: #EBF0F0;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 30rem;
}

.form h1 {
    border-bottom: 3px solid #007ACC;
    color: #464646;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 0.75em;
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
}

form > label {
    color: #AE97AE;
    margin-bottom: 0.5em;
}

form > label::before {
    display: inline-block;
    content: "*";
    color: red;
}

form > label span {
    font-size: 0.8em;
}

.input-wrapper {
    background: #fff;
    display: flex;
    align-items: center;
    height: 2.75em;
    margin-bottom: 1em;
    position: relative;
    border: 1px solid #C4DFE9;
    border-radius: 0.3em;
}

.input-wrapper i {
    color: #5C5757;
    padding: 0 0.5em 0 0.3em;
    width: 1.75em;
    z-index: 1;
    border-right: 1px solid currentColor;
}

.input-wrapper input {
    border: 1px solid #ccc;
    border-radius: 0.2em;
    position: absolute;
    border: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em 0 2.6em;
}

input[type=submit] {
    background: #007ACC;
    color: #fff;
    padding: 0.6em;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}